body {
    background-image: url("http://wallpapercave.com/wp/MAmPaLt.jpg");
    background-color: #cccccc;
}

h1 {
    color: green;
}

.tekst {
    color: #ff0000;
}

.tekst1 {
    color: #0ea200;
}

.tekst2 {
    color: #ac11da;
}
